.notes {
    background-color: #fff;
    padding: 20px;
    height: 100%;
    overflow: hidden;
    height:auto;
    max-height:400px;
  }

.sect2-title {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;

}

.sect2-title h3 {
  flex-grow: 1;
  text-align: left;
  margin:0px 10px;
}

.sect2-title img{
  position:relative;
  right:0;
  padding: 5px 20px;
}
  
  h3 {
    text-align: left;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 5px;
    width: 100%;
  }
  
  li {
    display: flex;
    flex-direction: column;
    background: #f7f9fa;
    padding: 10px;
    margin: 10px 0;
    white-space: normal;
    word-break: break-word;
    
  }
  
  .notes-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .truncated {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  