<!-- <div class="notes">
    <h3>Notes</h3>
    <ul>
      <li *ngFor="let note of notes">
        <div class="notes-name">
          <p>{{ note.name }}</p>
          <p>{{ getFormattedDate(note.date) }}</p>
        </div>
        <p class="truncated">{{ getTruncatedText(note.content) }}</p>
      </li>
    </ul>
  </div>
   -->
  <div class="notes">
    <div class="sect2-title">
      <h3>Notes</h3>
      <img src="icons8-plus sign.png">
    </div>
    <ul>
      <li>
        <div class="notes-title">
          <p>Lorem ipsum</p>
          <p>Today</p>
        </div>
        <p >maiores debitis magni in maxime.</p>
      </li>
      <li>
        <div class="notes-title">
          <p>Lorem ipsum</p>
          <p>Today</p>
        </div>
        <p >Lorem ipsum dolor, sit amet consectetur </p>
      </li>
      <li>
        <div class="notes-title">
          <p>Lorem ipsum</p>
          <p>Today</p>
        </div>
        <p >Amet illo ipsam quisquam harum neque quas</p>
      </li>
      <li>
        <div class="notes-title">
          <p>Lorem ipsum</p>
          <p>Today</p>
        </div>
        <p >Molestias vitae nisi maiores debitis</p>
      </li>
      <li>
        <div class="notes-title">
          <p>Lorem ipsum</p>
          <p>Today</p>
        </div>
        <p >Molestias vitae nisi maiores debitis.</p>
      </li>
    </ul>

  </div>