<form action="/add_project/" method="POST">
    <input type="text" name="name" id="name" aria-label="name" placeholder="Project name*" required>
    
    <input type="text" name="description" id="description" aria-label="Task description" placeholder="Project Description">

    <input type="date" name="date_created" id="date_created" aria-label="Date created" placeholder="Date created">

    <input type="date" name="due_date" id="due_date" aria-label="Due date" >
    
    <!-- <input type="text" name="estimated_duration" id="estimated_duration" aria-label="Estimated Duration" placeholder="Estimated Duration"> -->

    <input type="date" name="completed_date" id="completed_date" aria-label="Completed date" placeholder="Completed Date" >

    <input type="boolean" name="is_completed" id="is_completed" aria-label="is_completed" placeholder="is_completed">

    <input type="submit" value="Add Project">
</form>