<form action="/update_project/{{ project.id }}" method="POST">
    <input type="text" name="name" id="name" aria-label="name" placeholder="Project name*" value="{{ project.name }}">
    
    <input type="text" name="description" id="description" aria-label="Task description" placeholder="Project Description" value="{{ project.description }}">

    <input type="date" name="date_created" id="date_created" aria-label="Date created" placeholder="Date created" value="{{ project.date_created }}">

    <input type="date" name="due_date" id="due_date" aria-label="Due date" value="{{ project.due_date }}">
    
    <!-- <input type="text" name="estimated_duration" id="estimated_duration" aria-label="Estimated Duration" placeholder="Estimated Duration"> -->

    <input type="date" name="completed_date" id="completed_date" aria-label="Completed date" placeholder="Completed Date" value="{{ project.completed_date }}">

    <input type="boolean" name="is_completed" id="is_completed" aria-label="is_completed" placeholder="is_completed" value="{{ project.is_complete }}">

    <input type="submit" value="Update">
</form>