table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-name {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 120px;
}
.dropdown-name a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-name a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-name {
  display: block;
}
.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
