<section class="home-container">

  <!-- Greeting + Affirmation -->
  <section class="welcome-card">
    <h2>Hello Brian 👋</h2>
    <p class="subtext">Hope you're ready to make today meaningful.</p>

    <div class="affirmation-box" (click)="navigateToAffirmations(Affirmation.id)">
      “{{ Affirmation.quote }}”
      <div class="author">— {{ Affirmation.author }}</div>
    </div>

    <form class="prompt">
      <input type="text" placeholder="What's on your mind?" />
      <button disabled>Send</button>
    </form>
  </section>


  <!-- Today's Tasks -->
  <section class="section-card">
    <div class="section-header">
      <h3>Today's Tasks</h3>
      <button (click)="navigateToTasks()">
        {{ tasksInProgress().length }} Active
      </button>
    </div>

    @if (tasksInProgress().length === 0) {
      <div class="empty-state">
        No tasks for today 🎉
      </div>
    }

    @for (task of tasksInProgress().slice(0, 3); track task) {
      <div class="task-item"
        (click)="navigateToTask(task.id)">
        <input type="checkbox" (click)="$event.stopPropagation()">
        <span>{{ task.name }}</span>
        <app-due-date [dueDate]="task.dueDate"></app-due-date>
      </div>
    }

    <button class="see-all" (click)="navigateToTasks()">See all tasks</button>
  </section>


  <!-- Ongoing Projects -->
  <section class="section-card">
    <div class="section-header">
      <h3>Ongoing Projects</h3>
      <button (click)="navigateToProjects()">
        {{ getOngoingProjects().length }} Active
      </button>
    </div>

    @if (ongoingProjects.length === 0) {
      <div class="empty-state">
        No ongoing projects yet.
      </div>
    }

    @for (p of ongoingProjects.slice(0, 2); track p) {
      <div class="project-item"
        (click)="navigateToProject(p.id)">
        <div>
          <div class="project-name">{{ p.name }}</div>
          <div class="progress-bar">
            <div class="progress-fill" [style.width]="p.progress + '%'"></div>
          </div>
        </div>
        <span class="progress-percent">{{ p.progress }}%</span>
      </div>
    }

    <button class="see-all" (click)="navigateToProjects()">See all projects</button>
  </section>


  <!-- Notes preview -->
  <section class="section-card">
    <div class="section-header">
      <h3>Your Notes</h3>
      <img src="icons8-plus%20sign.png" (click)="navigateToNewNote()"/>
    </div>

    @if (notes.length === 0) {
      <div class="empty-state">
        No notes yet.
      </div>
    }

    @for (note of notes.slice(0, 3); track note) {
      <div class="note-item"
        (click)="navigateToNote(note.id)">
        <div class="note-title">{{ note.name }}</div>
        <div class="note-preview">
          {{ getNotesPreview(note.content) }}
        </div>
      </div>
    }

    <button class="see-all" (click)="navigateToProjects()">See all notes</button>
  </section>

</section>
