<section class="container">
  <section class="section2">
    <section class="introduction">
      <section class="affirmation">
        <div>
            {{ '"' + dailyAffirmation.quote +'"' }}
            <br>
            {{ dailyAffirmation.author }}
        </div>

      </section>
      <section class="intro">
        <h2>Hello Brian?</h2>
        <p>Ready to make today productive?
        </p>
        <form class="prompt">
            <input type="text" id="prompt" name="prompt" placeholder="What's on your mind?">
            <button disabled>send</button>
        </form>
      </section>
    </section>
  </section>


  <section class="section3">

    <table class="tasks">
      <thead class="sect3-title">
        <tr>
          <th><h3>Today's tasks</h3></th>
          <th class="active-count"><button (click)="navigateToTasks()">{{tasksInProgress().length}} active</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="tasksInProgress().length === 0">
          <td colspan="4" class="text-centre
          "> No tasks in Progress</td>
        </tr>
        <tr id="homepage-task" *ngFor="let task of tasksInProgress()" (click)="navigateToTask(task.id)" class="clickable-field">
          <td>
            <input type="checkbox" (click)="$event.stopPropagation()">
          </td>
          <td>{{ task.name }}</td>
          <td>
            <span class="priority-dot"></span>
          </td>
          <td>
            <app-due-date [dueDate]="task.dueDate  ?? 'No Due Today'"></app-due-date>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="projects">
      <div class="sect3-title">
          <h3>Ongoing Projects</h3>
            <button (click)="navigateToProjects()" class="active-count">{{ getOngoingProjects().length}} active</button>
        </div>
      <ul>
          <ng-container *ngIf="ongoingProjects.length === 0"            class="text-centre">
            <li> No Ongoing Projects </li>
          </ng-container>
            <li *ngFor="let ongoingProject of ongoingProjects"
            (click)="navigateToProject(ongoingProject.id)"
            class="clickable-field">
              <span class="project-name">{{ ongoingProject.name }}</span>
              <span class="progress-percentage">{{ ongoingProject.progress }}</span>
              <div class="progress-bar" >
                <div class="progress-bar-fill" [style.width]="ongoingProject.progress + '%'"></div>
              </div>
            </li>

        </ul>
      </div>

    <table class="upcoming">
      <thead class="sect3-title">
        <tr style="justify-content: space-between;">
          <th><h3>Upcoming Projects</h3></th>
          <th class="active-count" (click)="navigateToProjects()"><img src="icons8-calendar-new.png"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="upcomingProjects.length === 0">
          <td colspan="4" class="text-centre
          "> No upcoming Projects</td>
        </tr>
        @for (upcomingProject of upcomingProjects; track upcomingProject) {
        <tr (click)="navigateToProject(upcomingProject.id)" class="clickable-field">
          <td><app-due-date [dueDate]="upcomingProject.dueDate"></app-due-date></td>
          <td><p>{{ upcomingProject.name }}</p></td>
        </tr>
      }
      </tbody>
    </table>
  </section>

  <section class="section4">
    <div class="calendar-container">
      <app-home-page-calendar />
    </div>

    <div class="notes-container">
      <div class="sect3-title">
        <h3>Notes</h3>
        <img src="icons8-plus%20sign.png" (click)="navigateToNewNote()" alt="Add Note">
      </div>
      <div *ngIf="notes.length === 0">Notes List Empty</div>
      <div class="note-list">
        <div *ngFor="let note of notes; let i = index" class="notes clickable-field" (click)="navigateToNote(note.id)">
          <div class="note-header">
            <span class="note-title">{{ note.name }}</span>
            <span class="note-date">{{ note.dateCreated | relativeTime }}</span>
          </div>
          <div class="note-preview" >
            {{ getNotesPreview(note.content) }}
          </div>
        </div>
      </div>
    </div>
  </section>
</section>


