{% for text in affirmations %}
<p> {{ text }}</p>
{% endfor %}

<h2>Tasks</h2>
<table>
    <tr>
        <th>Tasks</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks if not task.completed %}
        <tr>
            <td>{{ task.content }}</td>
            <td>
                <input type="radio" aria-label="Completed" name="task_{{ task.id }}" value="completed" {% if task.completed %}checked{% endif %}>
            </td>
            <td>
                <div class="dropdown">
                    <button class="dropdown-btn" aria-label="dropdown button">&#8942;</button>
                    <div class="dropdown-content">
                        <a href="/delete/{{ task.id }}">Delete</a>
                        <a href="/update/{{ task.id }}">Update</a>
                        <a href="/attempted/{{ task.id }}">Attempted</a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
