.tasks {
    background-color: #fff;
    border-radius: 10px;
    min-height: 100%;
    padding:20px;
    


}

.sect2-title {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    padding: 10px;

}

.sect2-title h3 {
    flex-grow: 1;
    text-align: left;
    margin:0;
}
.sect2-title button{
    color:#4f47e6;
    background-color: #e0e8ff;
    border: none;
    border-radius: 15px;
    position:absolute;
    right:0;
    padding: 5px 10px;
}

table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;

}

tr{
    display:table-row;
    width: 100%;

}

td {
    padding:10px;
    text-align: left;

}

td:first-child {
    text-align: center;
}

td:nth-child(2) {
    width:60%;
    padding-left: 10px;
}

td:nth-child(3) {
    width:15%;
    text-align: center;
}

td:nth-child(4) {
    width:20%;
    text-align:right;
}

.priority-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: orange;
  }

