<div class="upcoming">
    <div class="sect2-title">
        <h3>Upcoming Projects</h3>
        <img src="icons8-calendar-new.png">
      </div>
    <ul>
        <li>
            <app-due-date [dueDate]="'2025-03-10'"></app-due-date>
            <p>KiSA general meeting</p>
        </li>
        <li>
            <app-due-date [dueDate]="'2025-03-10'"></app-due-date>
            <p>Doctors appointment</p>
        </li>
        <li>
            <app-due-date [dueDate]="'2025-03-10'"></app-due-date>
            <p>project proposal</p>
        </li>
    </ul>
</div>