<div class="projects">
    <h3></h3>
    <div class="sect2-title">
        <h3>Ongoing Projects</h3>
        <button>5 active</button>
      </div>
    <ul>
        <li>
            <span class="project-name">Website redesign</span>
            <span class="progress-percentage">75%</span>
            <div class="progress-bar"><div style="width: 75%;"></div></div>
        </li>
        <li>
            <span class="project-name">Machine Learning</span>
            <span class="progress-percentage">40%</span>
            <div class="progress-bar"><div style="width: 40%;"></div></div>
        </li>
        <li>
            <span class="project-name">Senior project</span>
            <span class="progress-percentage">60%</span>
            <div class="progress-bar"><div style="width: 60%;"></div></div>
        </li>
        <li>
            <span class="project-name">Motor board</span>
            <span class="progress-percentage">30%</span>
            <div class="progress-bar"><div style="width: 30%;"></div></div>
        </li>
        <li>
            <span class="project-name">Heart rate monitor</span>
            <span class="progress-percentage">90%</span>
            <div class="progress-bar"><div style="width: 90%;"></div></div>
        </li>
    </ul>
</div>
