<div class="affirmations-container">
    <h3>Affirmations</h3>
    <div class='content'>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam omnis perferendis doloremque illo. Laudantium nisi, eum beatae impedit sequi dolorem? Sit, laboriosam expedita assumenda dignissimos repudiandae deleniti sed doloribus odio.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae commodi impedit, neque quasi officia, quia culpa laborum voluptas quisquam nihil tenetur corrupti iure distinctio ipsa assumenda amet soluta velit suscipit.
    </p>
    </div>
    
  </div>