.affirmations-container {
    background-color: #e8f5e9;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    min-height: 20vh;
  }

  .content{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    padding:10px;
  }