<section class="introduction">
    <section class="affirmation">
        <div>
            <h3>Daily affirmation</h3>
            <p>"Engineering problems are under-defined; there are many solutions, good, bad, and indifferent. The art is to arrive at a good solution." Richard James
            </p>  
        </div>
        
    </section>
    <section class="intro">
        <h2>Hello Brian?</h2>
        <p>Ready to make today productive?
        </p>
        <form class="prompt">
            <input type="text" id="prompt" name="prompt" placeholder="What's on your mind?">
            <button>Add Task</button>
        </form>
    </section>
</section>

