# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
*.venv/
ENV/
env/
.venv/

# Instance folder
instance/

# Migrations
migrations/

# Test cache
tests/__pycache__/

# Editor and IDE specific files
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.vscode/
.idea/
*.iml

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Other configuration files
*.log
*.sqlite3

# Operating system files
.DS_Store
Thumbs.db

# Coverage reports
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
__pychache
