<div class="calendar-container">
  <div class="calendar-header">
    <button class="nav-button" (click)="previousWeek()">❮</button>
    <h3 class="calendar-title">{{ weekDateRange }}</h3>
    <button class="nav-button" (click)="nextWeek()">❯</button>
  </div>

  <div class="calendar-grid">
    <div class="calendar-days">
      <div
        *ngFor="let day of days"
        class="day-header"
        [class.today]="day.isToday">
        <span class="day-name">{{ day.dayName }}</span>
        <span class="day-number">{{ day.date | date:'d' }}</span>
      </div>
    </div>

    <div class="calendar-body">
      <div
        *ngFor="let day of days"
        class="day-cell"
        [class.today]="day.isToday">
        <div
          *ngFor="let item of day.items"
          class="calendar-item"
          [class.project-item]="item.type === 'project'"
          [class.task-item]="item.type === 'task'"
          [style.background-color]="item.projectColor"
          (click)="item.type === 'task' ? navigateToTask(item.id) : navigateToProject(item.id)">
          <div
            class="priority-indicator"
            [style.background-color]="getPriorityColor(item.priority)">
          </div>
          <div class="item-name">{{ item.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
