.main{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    background-color: #ffffff;
}

.logo, .profile{
 Margin:0px 8px;
 padding: 5px;
 text-decoration: none;
 color:#374152;
 
}

.profile{
    display:flex;
    align-items: center;
}


.main ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    
}

.main ul li{
    display: flex;
    align-items:center;
    padding:10px;
}

.main ul li a{
    display:flex;
    align-items: center;
    text-decoration: none;
    color:#374152;

}

.main ul li img{
    margin-right: 5px;
    
}