<section class="main">
    <a class="logo" routerLink="/">TaskFlow</a>

    <ul >
        <li><a routerLink="/"><img src="icons8-home-24.svg">
            Home</a>
        </li>
        <li><a routerLink="tasks"><img src="icons8-graph-24.png">
            Tasks</a>
        </li>
        <li><a routerLink="projects"><img src="icons8-folder.png">
            Projects</a>
        </li>
        <li><a routerLink="calendar"><img src="icons8-calendar-24.svg">
            Calendar</a>
        </li>
        <li><a routerLink="progress"><img src="icons8-summary.png">
            Progress</a>
        </li>
    </ul>
    <a class="profile" routerLink="profile">
        <img src="icons8-profile-picture.png">
        Wendot
    </a>
  </section>
